<article class="flexible-article">
  <div class="mx-auto max-w-[70rem] w-full">
{{> md-header }}
    <blockquote>Click into the slideshow and press <code>f</code> to go fullscreen.</blockquote>
  </div>
  <div style="width: 85vw; height: 90vh; margin: 0 auto;" class="border rounded-md reveal">
    <div class="slides">
      <section
        data-markdown
        data-separator="^\r?\n-----\r?\n$"
        data-separator-vertical="^\r?\n---\r?\n$"
        data-charset="utf-8"
      >
        <textarea data-template>
{{{body}}}
        </textarea>
      </section>
    </div>
  </div>
  <script type="module" src="/reveal.js"></script>
</article>