@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neon";
  src:
    url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2 supports variations"),
    url("/fonts/MonaspaceNeonVarVF[wght,wdth,slnt].woff2") format("woff2-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf") format("truetype");
}

body {
  font-family: "Neon", sans-serif;
}

.reveal-viewport {
  /* investigate why !important is needed */
  background: var(--fallback-b1, oklch(var(--b1) / 1)) !important;
  color: var(--tw-prose-body) !important;
  background-color: var(--fallback-b1, oklch(var(--b1) / 1)) !important;
}

.reveal li {
  text-align: left;
}

.reveal img {
  max-width: 50%;
  margin: 0 auto;
}

nav[aria-label="Table of Contents"] a {
  --pad-inline: 0.5rem;
  padding-inline: calc(1rem * var(--depth) + var(--pad-inline)) var(--pad-inline);
}

#skip {
  clip: rect(0, 0, 0, 0);
  position: fixed;
}

.flexible-article {
  min-width: 65ch;
}
