@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "No Tears";
  src: url("/fonts/No Tears.ttf") format("truetype");
}

@font-face {
  font-family: "PT Mono";
  src: url("/fonts/PTMono-Regular.ttf") format("truetype");
}

body {
  font-family: "No Tears", sans-serif;
}

nav[aria-label="Table of Contents"] a {
  --pad-inline: 0.5rem;
  padding-inline: calc(1rem * var(--depth) + var(--pad-inline)) var(--pad-inline);
}

#skip {
  clip: rect(0, 0, 0, 0);
  position: fixed;
}

.flexible-article {
  min-width: 65ch;
}
