<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <a id="skip" href="#_top">Skip to content</a>
{{> nav}}
  <main class="flex justify-around flex-1 py-6 mb-40">
    {{#ifEquals layout 'slides'}}
{{> reveal }}
    {{else}}
{{> article }}
    {{/ifEquals}}
  </main>
</body>
</html>